.page-root {
  padding: 4%;
}

.title {
  font-size: 2.4rem;
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
  font-family: var(--mono);
  text-align: center;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.start-button {
  background: var(--gray);
  color: var(--offwhite);
  font-weight: 600;
  font-size: 0.8rem;
  padding: 3% 1%;
  border-radius: 5px;
  width: 45%;
}

.helper-text {
  font-size: 0.6rem;
  font-family: var(--mono);
  margin: 0 4%;
}
