@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Fira+Sans:wght@400;600&display=swap');

:root {
  --mono: 'Fira Mono', monospace;
  --sans: 'Fira Sans', sans-serif;
  --darkGreen: #2C4023;
  --darkPurple: #380925;
  --darkBlue: #001229;
  --peach: #F36E5A;
  --offwhite: #FFF4E6;
  --gray: #292929;
  --lightGreen: #D6EBD6;
  --lightPink: #EDAD9E;
  --lightBlue: #D6E7FF;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  color: var(--gray);
  box-sizing: border-box;
}